.user-details {
    border-bottom: none;
    padding: 0px!important;
}

.door-icon {
    width: 40px;
    height: 40px;
}

.user-icon {
    width: 35px;
    height: 35px;
}

.group-user {
    padding-right: 10px
}

.count-user {
    font-weight: bold;
    color: black;
}

.card-description-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

